<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<!--css-->
	<link rel="stylesheet" th:href="@{/css/index.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/quill.snow.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/quill-better-table.css}">
	<style type="text/css">
		.borb-0 {
			border-bottom: 0px;
		}
	</style>
</head>
<body>
<div class="d-flex" id="wrapper">
	<!-- Sidebar -->
	<div class="bg-light border-right min-vh-100 position-sticky align-self-start" id="sidebar-wrapper" style="top:0;">
		<div class="list-group list-group-flush pt-5">
			<div class="list-group-item list-group-item-action bg-light ">
				<h5 class="mb-1">Category</h5>
				<div class="input-group mb-2">
					<select class="form-select" id="selection_category">
						<option th:each="category : ${categories}" th:text="${category.name}"
						        th:value="${category.id}"></option>
					</select>
				</div>
				<div class="input-group mb-2 d-none">
					<input aria-label="new category" class="form-control" id="input_category" type="text">
				</div>
				<div class="form-check">
					<input class="form-check-input" id="new_category" type="checkbox" value="">
					<label class="form-check-label" for="new_category">
						Create new Category
					</label>
				</div>
				<h5 class="mt-3 mb-1">Title</h5>
				<div class="input-group mb-2">
					<input aria-label="title" class="form-control" id="title" type="text">
				</div>
				<h5 class="mt-3 mb-1">Tag</h5>
				<div class="input-group mb-2">
					<input aria-label="title" class="form-control" id="tag" type="text">
				</div>
				<h5 class="mt-3 mb-1">Summary</h5>
				<div class="input-group mb-2">
					<textarea aria-label="With textarea" class="form-control" id="summary" rows="6"></textarea>
				</div>
			</div>
		</div>
		<div class="position-absolute bottom-0 right-0 " style="padding-right: 16px;padding-bottom: 48px">
			<button class="btn btn-danger" id="btn_delete" type="button">Delete</button>
			<button class="btn btn-primary" id="btn_save" type="button">Save</button>
		</div>

	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div th:replace="fragments/nav.html :: nav"></div>
		<div class="container-fluid mt-3 mb-5">
			<div class="mb-5">
				<input class="position-absolute" id="customFile" multiple style="opacity: 0" type="file">
				<label class="form-file-label" for="customFile" id="file_label"
				       style="position: static;flex-direction: column;border-radius: inherit">
					<span class="form-file-button" style="margin-left: 0px">Choose file</span>
				</label>
			</div>
			<h5 class="mb-1">Content</h5>
			<div class="ql-container ql-snow" id="quill-content" style="min-height: 440px">
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<div aria-atomic="true" aria-live="assertive" class="toast d-flex align-items-center text-white click-through"
     role="alert" style="position: fixed; top: 0; right: 0;">
	<div class="toast-body"></div>
	<button aria-label="Close" class="btn-close ml-auto mr-2" data-dismiss="toast" type="button"></button>
</div>
<div class="d-flex justify-content-center d-none" id="loading" style="position: absolute;width: 100vw;height: 100vh;top: 0;right: 0;background-color: ghostwhite;
    opacity: 0.6;">
	<div class="spinner-border align-self-center" role="status" style="width: 5rem; height: 5rem;">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>
<div class="btn-cat-wrapper">
	<button class="btn btn-outline-primary rounded-circle position-absolute" id="btn_cat">+</button>
</div>
<script th:src="@{/js/quill.min.js}"></script>
<script th:src="@{/js/quill-better-table.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/edit.js}"></script>
</body>
</html>
