<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<!--css-->
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	<!-- Theme included stylesheets -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/quill.snow.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/quill-better-table.css}">
</head>
<body>
<div class="d-flex" id="wrapper">
	<!-- Sidebar -->
	<div class="bg-light border-right min-vh-100" id="sidebar-wrapper">
		<div class="sidebar-heading">Term</div>
		<div class="list-group list-group-flush">
			<div class="list-group-item list-group-item-action bg-light ">
				<div class="wrapper" th:each="category : ${categories}">
					<span class="caret text-dark" th:text="${category.name}"></span>
					<div class="nested">
						<a th:each="post : ${category.posts}"
								aria-current="true"
						        class="list-group-item list-group-item-action text-dark bg-light border-0"
						        id="p_1"
						        th:id="'p_'+${post.id}"
						        th:text="${post.title}"
						        name="btn_post"
						        th:href="'/post/'+${post.id}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div th:replace="fragments/nav.html :: nav"></div>
		<div class="container-fluid" id="article_container">
			<div class="d-block" style="padding-left: 15px;padding-right: 15px;">
				<p id="title" class="h2"></p>
			</div>
			<div class="d-flex justify-content-between bg-white" style="padding-left: 15px;padding-right: 15px;">
				<p id="user" class="small font-italic"></p>
				<p id="time" class="small font-italic"></p>
			</div>
			<div class="mb-2" style="padding-left: 15px;padding-right: 15px;">
				<div class="form-file-label" id="file_label"
				       style="position: static;flex-direction: column;border-radius: inherit">
				</div>
			</div>
			<div class="ql-container" id="quill-content" style="cursor: default !important;"></div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<div aria-atomic="true" aria-live="assertive" class="toast d-flex align-items-center text-white click-through"
     role="alert" style="position: absolute; top: 0; right: 0;">
	<div class="toast-body">
		Hello, world! This is a toast message.
	</div>
	<button aria-label="Close" class="btn-close ml-auto mr-2" data-dismiss="toast" type="button"></button>
</div>
<div class="d-flex justify-content-center d-none" id="loading" style="position: absolute;width: 100vw;height: 100vh;top: 0;right: 0;background-color: ghostwhite;
    opacity: 0.6;">
	<div class="spinner-border align-self-center" style="width: 5rem; height: 5rem;" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<div class="btn-cat-wrapper">
	<button class="btn btn-outline-primary rounded-circle position-absolute" id="btn_cat">+</button>
</div>
<!-- Main Quill library -->
<script th:src="@{/js/highlight.min.js}"></script>
<script th:src="@{/js/quill.min.js}"></script>
<script th:src="@{/js/quill-better-table.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>
