<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title> Login Page </title>
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
	      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container vh-100  ">
	<div class="row align-items-center justify-content-center h-100">
		<div class="col-6 bg-white border border-1 rounded" id="ctwp">
			<h1 class="text-center my-3"> JODC LOGIN </h1>
			<form class="d-flex flex-column mb-5 needs-validation" th:action="@{/login}" method="post">
				<div th:if="${param.error}" class="text-danger mx-5">
					Invalid username and password.
				</div>
				<div th:if="${param.logout}" class="text-info mx-5">
					You have been logged out.
				</div>
				<div class="column mx-5">
					<label class="col-form-label font-weight-normal" for="username">Username</label>
					<input class="form-control" name="username" id="username" placeholder="Enter Username" required type="text">
				</div>
				<div class="mb-5 column mx-5" >
					<label class="col-form-label font-weight-normal" for="password">Password</label>
					<input class="form-control" name="password" id="password" placeholder="Enter Password" required
					       type="password">
				</div>
				<button class="btn bg-primary text-white float-right mx-5" type="submit">Login</button>
			</form>
		</div>
	</div>

</div>

<script crossorigin="anonymous"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
        src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
<script>
	function resize(e){
		if(window.innerWidth < 768){
			document.getElementById("ctwp").classList.remove("col-6")
		}else{
			document.getElementById("ctwp").classList.add("col-6")
		}
	}

	document.addEventListener("DOMContentLoaded", resize);
	window.addEventListener("resize",resize);
</script>
</body>
</html>