<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<!--css-->
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	<!-- Theme included stylesheets -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex" id="wrapper">
	<div class="bg-light border-right min-vh-100" id="sidebar-wrapper">
		<div class="sidebar-heading">Term</div>
		<div class="list-group list-group-flush"></div>
	</div>
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div th:replace="fragments/nav.html :: nav"></div>
		<div class="container-fluid">
			<div class="list-group my-5 m-auto">
				<a th:each="post : ${posts}" aria-current="true" class="list-group-item list-group-item-action" th:href="${'/post/'+post.id}">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1" th:text="${post.title}"></h5>
						<small th:text="${#dates.format(post.createdAt,'dd-MM-yyyy HH:mm')}"></small>
					</div>
					<p class="mb-1" th:text="${post.summary}"></p>
				</a>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- Main Quill library -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
